<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<h1 align="center">LEAGUE OF LEGENDS</h1>
<img src="https://i.pinimg.com/originals/d1/b1/1d/d1b11d5e4dbae547ac0d651476cec488.png" style="width: 100px; margin-left: auto; margin-right: auto; border-radius: 20px;">
<br>
<h3 class="container">Il nome viene dalla sfera rotante circondata da due torri e lo scopo del gioco è appunto distruggere il Nexus nemico. A volte, si chiama base, emporio o casa. Le corsie in League of Legends sono tre percorsi chiaramente segnati sulla mappa: superiore, centrale e inferiore (chiamato anche bot)</h3>
<ul role="list" class="divide-y divide-gray-100"style="margin-left: 20px; margin-right: 20px;"*ngFor="let element of player index as i" [ngClass]="{'top':player[i].ruolo == 'top lane','jungle':player[i].ruolo == 'jungle','mid':player[i].ruolo == 'mid lane','adc':player[i].ruolo == 'adc','support':player[i].ruolo == 'support'}" >
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-32 w-32 flex-none rounded-full bg-gray-50" src="{{element.immagine}}">
        <div class="min-w-0 flex-auto">
          <h5 >{{element.nickname}}</h5>
          <p class="mt-1 truncate text-sm leading-5 text-gray-1000">{{element.team}}</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end" >
        <p class="text-ssm leading-6 text-gray-1000">{{element.ruolo}}</p>
        <p class="mt-1 text-sm leading-5 text-gray-1000">{{element.eta}}</p>
        <span class ="badge" [ngSwitch]="player[i].nazionalita">

        <p *ngSwitchCase="'de'" ><i class="de flag"></i></p>
        <p *ngSwitchCase="'fr'" ><i class="fr flag"></i></p>
        <p *ngSwitchCase="'kr'" ><i class="kr flag"></i></p>
        <p *ngSwitchCase="'pl'" ><i class="pl flag"></i></p>
        <p *ngSwitchCase="'es'" ><i class="es flag"></i></p>
        <p *ngSwitchCase="'dk'" ><i class="dk flag"></i></p>
        <p *ngSwitchCase="'hr'" ><i class="hr flag"></i></p>
        <p *ngSwitchCase="'se'" ><i class="se flag"></i></p>



        </span>

        <button type="button" class="btn btn-success" (click)="premi(i)" >maggiori informazioni</button>


      </div>
    </li>
    
  </ul>
  